@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  @include center;
  @include bg-overlay("../../assets/images/hero-1.jpeg");
  background-size: cover;
  height: 70vh;

  @include tablet {
    height: 90vh;
  }

  &__text {
    text-shadow: $text-shadow;
    color: white;
  }
}
