@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.hero {
  @include bg-overlay("../../assets/images/hero-1.jpeg");
  background-size: cover;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablet {
    height: 90vh;
  }

  &__text {
    text-shadow: $text-shadow;
    color: white;
    margin-bottom: 3rem;
    font-family: "Cormorant Garamond", serif;
  }
}
