@use "./variables" as *;

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin bg-overlay($url) {
  background: linear-gradient(#32323250, #32323250), url($url);
}

@mixin section-padding {
  padding: 0 2rem;

  @include tablet {
    padding: 0 5rem;
  }

}

// Breakpoints
@mixin tablet {
  @media screen and (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $breakpoint-desktop) {
    @content;
  }
}
