@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.books {
  @include section-padding;

  &__container {
    display: flex;
    gap: 2rem;
  }

  &__book {
    width: 11rem;
    height: 15rem;
    object-fit: cover;
    box-shadow: $box-shadow;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.section {
  background-color: $color-beige;
  height: 40vh;
  @include column;
  gap: 1.5rem;
}

