@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.books {
  @include section-padding;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 8rem;

  &__heading {
    margin-top: 2rem;
    color: white;
  }

  &__book {
    width: 8rem;
    height: 10rem;
    object-fit: cover;
    box-shadow: $box-shadow;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.section-d {
  background-color: $color-beige;
  height: 20vh;
  gap: 1.5rem;
  display: flex;
}
