@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.books {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section {
  background-color: $color-beige;
  height: 20vh;
}
