@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.header {
  @include section-padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $box-shadow;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-green;

  &__logo {
    width: 10rem;
    height: 5rem;
    object-fit: cover;
  }

  &__nav {
    display: flex;
  }

  &__menu {
    position: fixed;
    top: 5rem;
    left: 0;
    background-color: $color-beige;
    width: 100vw;
    height: 10vh;
    z-index: 50;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    // transition: all .5s ease-in-out;

    &__item {
      background-color: $color-green;
      color: white;
      padding: 1rem;
      width: 8rem;
      border-radius: 10px;
      font-size: 1rem;
      text-align: center;
    }
  }
}

.menu-icon {
  width: 2rem;
  cursor: pointer;
  
  // &:hover {
  //   filter: invert(65%) sepia(47%) saturate(1632%) hue-rotate(303deg)
  //     brightness(88%) contrast(97%);
  // }
}
